body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}

#calculator{
    background-color: hsl(0, 0%, 5%);
    width: fit-content;
    border-radius: 1rem;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
}
.input{
    padding: 20px;
    border: none;
    max-width: 100%;
    background-color: hsl(0, 0%, 10%);
    color: white;
    font-weight: bold;
}
input{
    width: 600px;
    height: 10rem;
    font-size: 3rem;
    text-align: right;
    border: none;
    max-width: 100%;
    background-color: hsl(0, 0%, 10%);
    color: white;
    font-weight: bold;
    border-radius: 2rem;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 30px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-size: 2rem;
    cursor: pointer;
    font-weight: bold;
}

.operator-btn{
    background-color: hsl(32, 100%, 50%);
}

button:hover{
    background-color: hsl(0, 0%, 30%);
}

button:active{
    transform: scale(0.95);
    background-color: hsl(0, 0%, 50%);
}


.operator-btn:hover{
    background-color: hsl(32, 100%, 60%);
}

.operator-btn:active{
    transform: scale(0.95);
    background-color: hsl(32, 100%, 70%);
}

footer {
    /* Center the footer */
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: hsl(0, 0%, 5%);
    color: white;
    font-size: 1.5rem;
}

footer p {
    margin: 0;
    font-weight: bold;
}

footer p a {
    color: #ffffff;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}